* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* For medium devices (desktops, 768px and up) */
.navbar {
    width: 100%;
    height: 80px;
    padding: 0px 16px;
    background-color: #004666;
    letter-spacing: 1.6px;

}

.navbar-brand {
    max-width: 200px;
    /* max-height: 200px; */
    min-width: 50px;

}

.navbar-brand img {
    max-width: 100%;
    margin: 0 16px 8px 0;
    padding: 5.5px 0 0;
}

.nav-link {
    font-size: 14px;
    padding: 8px 16px !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 5rem;
    height: 1px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-align: center !important;
}

.nav-link:hover {
    background-color: #0078AE;
    color: #fff;
}

/* small devices(576px->up) */

.navbar1 {
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    background-color: #004666;
    display: flex;
    align-items: center;

}

.navbar-brand1 img {
    max-width: 159px;
    max-height: 24px;
    margin: 0 16px 8px 0;
    padding: 5.5px 0 0;
}

.nav-link1 {

    padding: 8px 16px !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-link1:hover {
    background-color: #0078AE;
    color: #fff;
}

.icon-left {
    margin-left: auto;
    display: flex;
}


/*  For extra small devices (phones, less than 576px)  */
.navbar2 {
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    background-color: #004666;
    display: flex;
    align-items: center;

}

.navbar-brand2 img {
    max-width: 159px;
    max-height: 24px;
    margin: 0 16px 8px 0;
    padding: 5.5px 0 0;
}

.nav-link2{

    padding: 8px 16px !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-link2:hover {
    background-color: #0078AE;
    color: #fff;
}

.icon-left {
    margin-left: auto;
    display: flex;
}